/* auth.css */
.auth-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #6c63ff;
  color: white;
  border-radius: 8px;
  font-size: 16px;
}

.auth-card p {
  margin-top: 15px;
}
